@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@import url('https://fonts.googleapis.com/css?family=Merriweather');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#navbar1 {
  
  background-color:transparent
}
.App-link {
  color: #61dafb;
}

.intro{
  font-family:'Playfair Display';
  display: flex;
  width:100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pictures{
  display:flex;
  position: relative;
  flex-direction: row;
  width: 100%;
}
.sun{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
 
}
.sun img{
  transform: scale(1.4) translateY(-50px);
  z-index: -40;
  opacity: .8;
}
.cloud{
  display:flex;
  position: relative;
  left: 0;
}
.cloud img{
  position: absolute;
}
.cloud :nth-child(1){
  animation: moveCloud 40s infinite linear forwards;
  opacity: .4;
  z-index: -10;
  
}
.cloud :nth-child(2){
  animation: moveCloud 70s infinite linear forwards;
  opacity: .8;
  z-index: -9;

}
.cloud :nth-child(3){
  animation: moveCloud 60s infinite linear forwards;
  opacity: .5;
  z-index: -7;
  
}
.cloud :nth-child(4){
  animation: moveCloud 80s infinite linear forwards;
  opacity: .7;
  z-index: -8;
  
}
.typing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.typingarea{
  font-size: 40px;
  margin:50px;
  width:900px;
}
.guages{
  display: flex;
  flex-direction: row;
  flex:1;
  width: 100%;
  height:200px;
}
.speedguage{
  display:flex;
  flex:1;
  justify-content: flex-end;
}
.progressIndicator{
  display: flex;
  flex:1;
  height: 100%;
  flex-direction: column;
}
.percent{
  font-size: 50px;
  font-family: 'Merriweather';
  animation: zoomText .5s ease-in forwards;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes moveCloud {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1500px);
  }
}

@keyframes zoomText {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(200%);
  }
}